<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turnos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="barra">
        <div class="content-barra">
            <div class="logo">
                Logo
            </div>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>
                    <a asp-controller="Especialidad" asp-action="Index">Especialidades</a></li>
                <li>Turnos</li>
                <li>About</li>
            </ul>
        </div>
    </div>

    <div class="main">   
        @RenderBody()
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
